.topmenu
{
    margin    : 0;
    padding   : 0;
    float     : left;
    font      : bold 13px Arial;
    width     : 100%;
    border    : 1px solid #625e00;
    background: black center center repeat-x;
}

.topmenu li
{
    float: left;
}

.topmenu li a:visited
{
    color: white;
}

.topmenu li a
{
    float          : left;
    color          : white;
    padding        : 9px 11px;
    text-decoration: none;
    border-right   : 1px solid white;
}

body
{
    padding: 0;
    margin : 0;
}